.degree-cards {
  display: flex;
  width: 100%;
  gap: 4%;
  margin-bottom: 52px;
  font-size: 24px;
}

div.degree-faq-title {
  margin-bottom: 21px;
}

#accordion ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion-item {
  margin-top: 0.5em;
  position: relative;
  box-shadow: var(--card-box-shadow);
  font-size: 18px;
}

.accordion:target {
  display: block;
}

.accordion-title{
  text-decoration: none;
  display: block;
  padding: 10px;
}

.accordion-title {
  box-sizing: border-box;
  color: #ffffff;
  background-color: var(--primary-background-color);
  width: 100%;
  padding: 8px 1em 8px 35px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.accordion {
  box-sizing: border-box;
  transition: all 0.15s ease-out;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  border: solid var(--primary-border-color);
  border-width: 0 1px 1px;
  background-color: var(--secondary-white);
  padding: 0 8px;
}

.accordion:before {
  content: '+';
  display: block;
  position: absolute;
  pointer-events: none;
  font-size: 24pt;
  left: 8px;
  top: -2px;
  transition: transform 0.15s ease-in-out;
  color: #ffffff;
}

.accordion:target:before {
  transform: rotate(45deg);
}

.accordion:target {
  transition: max-height 0.3s ease-in, padding 0.15s ease-in;
  max-height: 1000px;
  padding: 8px;
}

.accordion:target .accordion-close {
  display: inline-block;
}

.application-wrapper .accordion-close {
  position: absolute;
  height: 45px;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.application-wrapper .accordion-close:hover, .application-wrapper .accordion-close:active {
  background-color: transparent !important;
}

@media screen and (max-width: 425px) {
  .degree-cards {
    flex-wrap: wrap;
    gap: 1em;
  }
}