* {
  font-family: Merriweather Sans;
  padding: 0;
  margin: 0;
}

:root {
  --primary-font-color: #212121;
  --primary-background-color: #22376f;
  --primary-white: #fff;
  --secondary-white: #fefefe;
  --primary-border-color: #c4c4c4;
  --primary-color-disabled: rgba(33, 33, 33, 0.4);
  --card-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
  --card-background-color: rgb(233, 235, 241);
}

.application-wrapper {
  padding: 0 6vw 0 6vw;
  display: flex;
  background-color: var(--secondary-white);
}

.application-main-content {
  padding-top: 6vh;
  width: 100%;
  min-width: 650px;
  margin-right: 6vw;
}

.application-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--primary-font-color);
  margin-bottom: 52px;
}

.bold-white-text {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: var(--primary-white);
}

.link-text {
  flex: 1;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: var(--primary-background-color);
  text-decoration: none;
}

.inline-link {
  font-weight: bold;
  color: var(--primary-background-color);
  text-decoration: none;
}

.inline-link.external-link::after {
  content: "";
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-left: 2px;
  top: -2px;
  background-image: url("assets/link.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
}

.list-links > li {
  display: flex;
  align-items: center;
  list-style: none;
  padding-bottom: 8px;
}

.list-links > li::before {
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  background-image: url("assets/link.svg");
  background-repeat: no-repeat;
}

.small-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-font-color);
  text-decoration: none;
}

.regular-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-background-color);
  text-decoration: none;
}
