.application-sidebar {
  padding: 6vh 20px 30px 50px;
  border-left: 1px solid var(--primary-border-color);
}

.sidebar-steps {
  margin: 90px 0 110px 0;
}

.application-wrapper .sidebar-step-item,
.application-wrapper .sidebar-step-item:hover,
.application-wrapper .sidebar-step-item:active {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: transparent !important;
  text-decoration: none !important;
}

.sidebar-step-item-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 2px solid var(--primary-color-disabled);
  background-color: var(--primary-white);
  border-radius: 50%;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: var(--primary-color-disabled);
  margin-right: 12px;
}

.sidebar-step-item-circle.active {
  border: 2px solid var(--primary-background-color);
  background-color: var(--primary-background-color);
  color: var(--primary-white);
}

.sidebar-step-item-text {
  width: 160px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: var(--primary-color-disabled);
}

.sidebar-step-item-text.active {
  color: var(--primary-background-color);
}

.sidebar-line {
  height: 35px;
  margin-left: 32px;
  width: 1px;
  background-color: var(--primary-color-disabled);
}

.sidebar-line.active {
  background-color: var(--primary-background-color);
}

.sidebar-contact-header.small-text {
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar-contact-address {
  margin-bottom: 10px;
}

.sidebar-contact-communication {
  list-style-type: none;
  padding: 0;
}

.sidebar-contact-communication-item {
  display: flex;
  align-items: center;
  height: 30px;
}
