.bachelor-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2%;
  margin-bottom: 42px;
}

.bachelor-card {
  flex: 1 1 30ch;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 18px;
  margin-bottom: 15px;
  background-color: var(--card-background-color);
  box-shadow: var(--card-box-shadow);
  text-decoration: none;
}

.bachelor-card-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bachelor-card-list > li {
  border-bottom: 1px solid var(--primary-border-color);
}

.bachelor-card-list > li:last-child {
  border-bottom: 0px;
}

.bachelor-card-title {
  display: flex;
  align-items: center;
  height: 48px;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--primary-border-color);
}